@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-mono);
  --font-mono: var(--font-roboto-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d2129;
    --foreground: #ECEFF4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-mono);
}
